<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
             
</head>

<body>
    <div class="navlink-column">
        <a class="navlink" href="#languages" aria-expanded="false"><i class="fa fa-language"></i> Languages</a>
        <a class="navlink" href="#Leaderboard" aria-expanded="false">  <span class="material-symbols-outlined">leaderboard</span> Leaderboard</a>
        <a class="navlink" href="#library" aria-expanded="false"><i class="fa fa-th"></i> Library</a>
        <a class="navlink" href="#translations" aria-expanded="false"><i class="fa fa-line-chart"></i> Translations</a>
        <a class="navlink" href="#information" aria-expanded="false"><i class="fa fa-info"></i> Information</a>
        <a class="navlink" href="https://contributor.r-project.org/translations/" aria-expanded="false"><i class="fa-solid fa-arrow-right-arrow-left"></i> Our Translation Dashboard</a>
    </div>
</body>

</html>
