.navlink-column {
    display: flex;
    flex-direction: column;
}

.navlink {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.value-box {
    border-radius: .25em;
    box-shadow: 4px 4px 4px rgba(0,0,0,.05);
    height: 140px;
    margin-bottom: 0.75em;
    margin-left: 0.65em;
    border: 1px solid #53a4ff;
}

.value-box .icon i.fa {
    font-size: 60px;
    top: 20px;
    transition: all .3s linear;
    color: #2780e3;
}

.value-box:hover .icon > i {
    font-size: 75px;
    position: absolute;
    right: 15px;
    top: 15px;
}



.value-box .inner .value {
    font-size: 40px;
    transition: all .3s linear;
}

.value-box:hover .inner .value {
    font-size: 50px;
}

.value-box:hover {
    border: 1px solid #047aff;
    box-shadow: 1px 1px 1px rgba(0,0,0,.32),0 2px 2px rgba(0,0,0,.15);
}

#total-languages .inner {
color: #2780e3;
    }

#translated-messages .inner {
color: #2780e3;
    }

#untranslated-messages .inner {
color: #2780e3;
    }

#fuzzy-messages .inner {
color: #2780e3;
    }