<footer class="page-footer font-small bg-primary">
  <div class="full-footer">
  <div class="footer-sponsors text-center py-1"> Dashboard Sponsored by
    <a href="https://www.cynkra.com/" target="_blank"><img src="https://user2021.r-project.org/img/artwork/cynkra.png" class="img-fluid img-rounded img-thumbnail mx-3 cover-img" alt="Cynkra"></a>
    <a href="https://www.rstudio.com/" target="_blank"><img src="https://user2021.r-project.org/img/artwork/rstudio-flat.svg" class="img-fluid img-rounded img-thumbnail mr-3" alt="RStudio"></a>
    <a href="https://summerofcode.withgoogle.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/GSoC-icon.svg/1200px-GSoC-icon.svg.png" class="img-fluid img-rounded img-thumbnail cover-img" alt="GSoC"></a>
  </div>
  <div>
    <a href="https://github.com/r-community/central" target="_blank"><i class="fa fa-github fa-2x fa-inverse"></i></a>
  </div>
  </div>
</footer>
