name: Recent Changes refresh

on: 
  workflow_dispatch:
  schedule:  
    - cron:  '20 12 * * *'
  push:
    branches:
      - main
    paths:
      - 'weblate/Recent Changes/**'
      - '.github/workflows/changes.yml'

jobs:
  Running_R_scripts:
    runs-on: ubuntu-20.04 
    defaults:
      run:
        working-directory: weblate/Recent Changes
    steps:
    - name: checkout_repo
      uses: actions/checkout@v4
    - uses: r-lib/actions/setup-r@v2
    - name: Install packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        packages: |
          any::curl
          any::jsonlite
          any::stringr
          any::readr        
        
    - name: Run R scripts
      env: 
        WEBLATE_TOKEN: ${{ secrets.WEBLATE_TOKEN }}
      run: | 
        Rscript "Recent changes.R"
        
    - name: Commit and Push Any Changes
      run: |
        git pull origin main
        git add *.csv
        if ! git diff-index --quiet HEAD; then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Update weblate changes csv"
          git push
        fi
